<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746066635909-kgdktpu3kvakfpa65avelva35bl03dfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746066635909-kgdktpu3kvakfpa65avelva35bl03dfp</string>
	<key>API_KEY</key>
	<string>AIzaSyAWX31ciQXQAZgnFImG_BNzh1IBfsnjQtY</string>
	<key>GCM_SENDER_ID</key>
	<string>746066635909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs345project</string>
	<key>PROJECT_ID</key>
	<string>cs345-project</string>
	<key>STORAGE_BUCKET</key>
	<string>cs345-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746066635909:ios:fe3abb9537f8f3bf388dec</string>
</dict>
</plist>